<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job Submission</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <h5 class="sidebar-heading">Job Submission</h5>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#cpp-mpi-tab" data-toggle="tab">CPP MPI</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#cpp-tab" data-toggle="tab">CPP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#python-tab" data-toggle="tab">Python</a>
                    </li>
                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="tab-content">
                <div class="tab-pane active" id="cpp-mpi-tab">
                    <h2>CPP MPI Job Submission</h2>
                    <!-- Add your CPP MPI form here -->
                </div>
                <div class="tab-pane" id="cpp-tab">
                    <h2>CPP Job Submission</h2>
                    <!-- Add your CPP form here -->
                </div>
                <div class="tab-pane" id="python-tab">
                    <h2>Python Job Submission</h2>
                    <!-- Add your Python form here -->
                </div>
            </div>
        </main>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>